<footer>
    <div class="footer-content">
        <img src="/assets/logo.png" alt="">
        <ul class="footer-menu">
            <li class="menu-item">Home</li>
            <li class="menu-item">Home</li>
            <li class="menu-item">Home</li>
            <li class="menu-item">Home</li>
            <li class="menu-item">Home</li>
        </ul>
        
        <div class="block-apps">
            <img src="/assets/app store.png" alt="apps">
            <img src="/assets/google-play.png" alt="apps">
        </div>
        <p class="copyright">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil, natus!</p>
    </div>
</footer>